header {
  height: 54px;
}
li {
  display: inline-block;
  margin-right: 25px;
  font-size: 22px;
  line-height: 54px;
  color: #3c58a7;
  text-transform: uppercase;
}
#banner {
  background: #dbd8d7;
  padding: 1px;
}

.logo {
  position: absolute;
  left: 100px;
  top: -190px;

}
.wrap-banner {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* layout */
.center-layout {
  width: 965px;
  margin-right: auto;
  margin-left: auto;
}
h2 {
  display: inline-block;
}
.news {
  width: 230px;
  height: 200px;
  display: inline-block;
  margin-right: 15px;
  background-color: #dbd8d7;
}
.news:nth-of-type(4) {
  margin-right: 0px;
}
.section-heading {
  height: 50px;
  line-height: 50px;
}

/*news-details codes*/

.page {

  width: 965px;
  height: 535px;
  margin-right: auto;
  margin-left: auto;

}

.page h2 {

    
    font-size: 18px;
    margin-top: 10px;


}

.day {

    width: 54px;
    height: 52px;
  
}

.day h2 {

    font-size: 24px;
    margin-top: 10px;
    position: absolute;
}



.news h1 {
    padding-left: 14px;
    font-size: 18px;
    position: absolute;
}


.news-article{
  width: 540px;
  height: 345px;
  display: inline-block;
  background-color: #ffffff;
}
.news-article img, .news-article-text {
  width: 400px;
  height: 280px;
  display: inline-block;
  vertical-align: text-top;
}
.news-text {
  width: 400px;
  height: 280px;
  position: absolute;
  display: inline-block;
vertical-align: text-center;

}


#video {
  /* background: #363d98; */
}
.video {
  padding-top: 24px;
  padding-bottom: 24px;
}
.wrap-video {
  background-color: #363d98;
}
.video-youtube {
  width: 475px;
  height: 224px;
  display: inline-block;
  background-color: #dbd8d7;
  margin-right: 15px;
}
.video-youtube:nth-of-type(2) {
  margin-right: 0px;
}
.featured {
  width: 475px;
  height: 160px;
  display: inline-block;
  background-color: #dbd8d7;
}
.featured img, .featured-text {
  width: 230px;
  height: 160px;
  display: inline-block;
  vertical-align: top;
}
.featured-text {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}
.featured h1 {
  font-size: 18px;
}
.featured p {
  font-size: 12px;
  margin-top: 26px;
  height: 55px;
  overflow: hidden;
}
.read-more {
  font-size: 15px;
  position: absolute;
  margin-left: 120px;
  padding-top: 15px;


}
footer {
  background-color: #dbd8d7;
  margin-top: 50px;
  height: 54px;
  line-height: 54px;
  font-size: 12px;
  color: #3c58a7;
}
.copyright {
    float: left;
}
.created-by {
    float: right;
}
